SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
DATABASE_URL=
JWT_SECRET=your_jwt_secret
AI_API_KEY=
BACKEND_URL=http://backend:8000
SUPABASE_ANON_KEY=your_supabase_Anon_key
